.navLi a {
  position: relative;
  padding: 0 4px;
  font-size: 1.1rem;
}

.navLi a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navLi a:hover:after {
  width: 100%;
}
