.container {
  width: 100%;
  margin: 0 auto;
  max-width: 85rem;
  padding: 0 1rem;
  color: white;
  background-color: rgb(17 23 43)
}

.container ul {
  list-style: none;
}

.container a {
  text-decoration: none;
}

.container button {
  cursor: pointer;
}
@media (max-width: 1536px) {
  .container {
    max-width: 70rem;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 55rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 70rem;
  }
}
