.heroContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero:last-child {
  align-items: flex-end;
}
@media (max-width: 640px) {
  .hero {
    align-items: center;
  }
}
